:root {
    --squares-on-each-side;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(var(--squares-on-each-side), 1fr);
    margin: auto;
    width: 400px;
    height: 400px;
    border: solid black 1px;
}

.grid-cell {
    border: solid black 1px;
}

#create-grid-button {
    display: block;
    margin: 12px auto;
    padding: 4px 8px;
}